<h1 class="editable" data-field="description">
  <%= line_listing.escape("description") %>
</h1>

<pre class="editable" data-field="street_address">
  <%= line_listing.escape("street_address") %>
</pre>

<a href="#/lines/<%= line_listing.line_id %>/new">List Your Place!</a>