<form>
  <input
    type="text"
    name="street_address"
    value="<%= listing.escape("street_address") %>"
  >

  <textarea name="description"><%= listing.escape("description") %></textarea>

  <input type="submit">
</form>

<a href="#/">Back</a>