<div class="listings-index-item-modal-backdrop">
</div>

<div class="listings-index-item-modal" tabindex="-1">
  <a class="listings-index-item-modal-dismiss glyphicon glyphicon-remove" href="javascript:void(0)"></a>

  <h4><%= listingIndexItem.escape('description') %></h4>
    <h6 class="confirm-message">$<%= listingIndexItem.escape('max_price') %> will be deducted from your account.</h6>
    
    <img class="modal-profile-pic" src=<%= listingIndexItem.attributes.lister.img_url %>>
    
  <button class="btn finalize-button listings-index-item-modal-book">FINALIZE TRANSACTION</button>
  <div class="listing-index-item-info">
    
  </div>
  <div class="loadspinner hidden">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
    <div class="bar4"></div>
    <div class="bar5"></div>
    <div class="bar6"></div>
    <div class="bar7"></div>
    <div class="bar8"></div>
    <div class="bar9"></div>
    <div class="bar10"></div>
    <div class="bar11"></div>
    <div class="bar12"></div>
  </div>
</div>