<div 
  class="listings-index-item" 
  data-id=<%= listing.attributes.id  %>
    >     
  <button data-id=<%= listing.attributes.id  %> class="btn btn-default booking-button float">BOOK NOW</button>
  <% var num = listing.attributes.max_price %>
  <% var aaa = parseInt(num) %>
  <% var n = aaa.toFixed(2) %>
  $<%= n %>; <%= listing.attributes.description %>
</div>