<li 
  class="listings-index-item" 
  data-id=<%= listing.attributes.id  %>
    >     
  <button data-id=<%= listing.attributes.id  %> class="btn btn-default booking-button float">BOOK NOW</button>
  <%= listing.attributes.description %>
</li>