<h1 id="">Listings Index!</h1>

<ul>
  <% listings.each(function (listing) { %>
    <li>
      <a href="#/listings/<%= listing.id %>"><%= listing.escape("description") %></a>

      <button class="delete" data-id="<%= listing.id %>">
        Delete!
      </button>

      <a href="#/listings/<%= listing.id %>/edit">Edit</a>
    </li>
  <% }); %>
</ul>

<a href="#/listings/new">New Listing</a>

