<div class="listings-index-item-modal-backdrop">
</div>

<div class="listings-index-item-modal">
  <a class="listings-index-item-modal-dismiss glyphicon glyphicon-remove" href="javascript:void(0)"></a>
  <h3>just a test</h3>
  <h4><%= listingIndexItem.escape('description') %></h4>
  <div class="listing-index-item-info">
    
  </div>
</div>