<h1 id="new_listing">New Listing</h1>
<div id="new-listing-parameters">Fields required for a new listing:
  <div class="form-group">
    <label class="control-label" for="inputSuccess1">Latitude</label>
    <input type="text" class="form-control" disabled="disabled" id="inputSuccess1">
  </div>
  <div class="form-group">
    <label class="control-label" for="inputWarning1">Longitude</label>
    <input type="text" class="form-control" disabled="disabled" id="inputWarning1">
  </div> 
  <div class="form-group">
    <label class="control-label" for="inputWarning1">Description</label>
    <input type="text" class="form-control" id="inputWarning1">
  </div>
  <div class="form-group input-append bootstrap-timepicker">
    <label class="control-label" for="inputWarning1">Your Estimated Arrival at Front of Line:</label>
    <p>Date: <input id="datepicker1" type="text" class="form-control"></p>
    <p>Time: <input id="timepicker1" type="text" class="form-control"></p>
    <span class="add-on"><i class="icon-time"></i></span>
  </div>
  
    <button class="btn finalize-button new-listing-sidebar-submit">SUBMIT LISTING</button>
</div>