<h1 class="editable" data-field="description">
  <%= listing.escape("description") %>
</h1>

<pre class="editable" data-field="latitude">
  <%= listing.escape("latitude") %>
</pre>

<pre class="editable" data-field="longitude">
  <%= listing.escape("longitude") %>
</pre>

<a href="#/">Index</a>