<h1 class="editable" data-field="description">
  <%= line.escape("description") %>
</h1>

<pre class="editable" data-field="street_address">
  <%= line.escape("street_address") %>
</pre>

<a href="#/">Index</a>