<div id="pre-login" class="col-md-4"></div>
<div id="pre-login" class="col-md-4">
  <h1>Sign Up</h1>
  
  <%= render "layouts/errors" %>
  
  <form action="<%= users_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= auth_token_input %>
    <label class="rails-label">Username<br>
      <input name="user[username]" type="text" class="form-control">
    </label><br>
    <label class="rails-label">Password<br>
      <input name="user[password]" type="password" class="form-control"><br>
    </label><br>
    <label class="rails-label">Phone Number<br>
      <input name="user[phone_number]" type="text" class="form-control"><br>
    </label><br>
    <label class="rails-label">Email Address<br>
      <input name="user[email_address]" type="text" class="form-control"><br>
    </label><br>
    <input type="submit" value="Sign Up" class="btn btn-primary form-control"><br>
  </form>
</div>

<div id="pre-login" class="col-md-4"></div>