@import "bootstrap-sprockets";
@import "bootstrap";

#map-canvas {
  height: 500px;
  width: 500px;
  position: relative;
  overflow: hidden;
  -webkit-transform: translateZ(0px);
};

.listings-index-item-modal {
  width: 50%;
  position: absolute;
  left: 25%;
  z-index: 1032;
  background-color: #FFFFFF;  
  border-radius: 3px;
  border: thick solid black;
  padding: 15px;
  top: 10%;
}

.modal-profile-pic {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-height: 150 px;
  max-width: 75 px;
}

.finalize-button {
  width: 100%;
  height: 30%;

  border: thin solid black;
}

#map {
//  width: 40%;
  float: left;
}

#listings-index {
//  width: 55%;
//  float: right;
}

//spinners from https://github.com/tobiasahlin/SpinKit/blob/master/1-rotating-plane.html
.spinner {
  width: 10%;
  height: 10%;
//  width: 30px;
//  height: 30px;
//  background-color: white;

  margin: 100px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}